@import '~bootstrap';
@import './myVariables';
@import './techFlags';

body {
    font-family: $poppins;
    background-color: $pWhite;
}


//Thypograthy//

.fRoboto {
    font-family: $roboto;
}

.fLexendDeca {
    font-family: $lexendDeca;
}

p {
    letter-spacing: 0.75px;
    font-size: 14px;
}

//CARD--Bootstrap overwrite//

@include media-breakpoint-up(sm) {
    .card-columns .card {
        width: 95% !important;
    }
}


////


header {

    .logo {
        img {
            width: 100%;
            max-width: 914px;
        }
    }

    .presentation {
        max-width: 500px;

        h2 {
            font-size: 52px;
            line-height: 53.5px;
            letter-spacing: 1px;
        }
        
        @include media-breakpoint-down(sm) {
            h2 {
                font-size: 32px;
                line-height: 35px;
            }
        }
        
    }
}

footer {

    .findMe {

        color: $pWhite;

        @include media-breakpoint-down(sm) {
            li a {
                font-size: 12px;
            }
            h4 {
                font-size: 16px;
            }
        }

        ul {

            padding: 0;
            li {
                list-style: none;
                
                a {
                    color: $pWhite;
                }

                a:hover {
                    color: $cyan;
                    text-decoration: none;
                }
            }
        } 
    }

    .minLogo img {
        height: 100%;
    }
}

.cardEffect {
    
    transition: box-shadow 0.5s;
}

.cardEffect:hover {
    box-shadow:
  0 0.5px 1.6px rgba(0, 0, 0, 0.022),
  0 1.3px 3.9px rgba(0, 0, 0, 0.032),
  0 2.4px 7.3px rgba(0, 0, 0, 0.04),
  0 4.2px 13px rgba(0, 0, 0, 0.048),
  0 7.9px 24.2px rgba(0, 0, 0, 0.058),
  0 19px 58px rgba(0, 0, 0, 0.08)
;
    transform: translateY(-5px);
    transition: box-shadow 0.2s;

}

.card-columns {
    @include media-breakpoint-only(sm) {
      column-count: 1;
    }
    @include media-breakpoint-only(md) {
      column-count: 2;
    }
    @include media-breakpoint-only(xl) {
      column-count: 3;
    }
  }